@font-face {
    font-family: 'SFPRO BOLD';
    src: url("../assets/fontes/SFPRODISPLAYBOLD.OTF") format('truetype');
  }
@font-face {
    font-family: 'SFPRO MEDIUM';
    src: url("../assets/fontes/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: 'SFPRO REGULAR';
    src: url("../assets/fontes/SFPRODISPLAYREGULAR.OTF");
}

body{
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

form{
    background-color: white;
    display: flex;
    margin-left: 150px;
    width: 620px;
    height: 750px;

}