@font-face {
    font-family: 'SFPRO BOLD';
    src: url("../fontes/SFPRODISPLAYBOLD.OTF") format('truetype');
  }
@font-face {
    font-family: 'SFPRO MEDIUM';
    src: url("../fontes/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: 'SFPRO REGULAR';
    src: url("../fontes/SFPRODISPLAYREGULAR.OTF");
}

body{
    margin: 0;
    font-family: SFPRO BOLD;
    height: 100vh;
}

header{
    background-color: #ffcf00;
    height: 100px;
    display: flex;
    justify-content: space-between; /* deixa os itens começando do canto esquerdo */
    padding: 0 20px;
    align-items: center;

 /* opcional, para não grudar no canto */
   
}

svg{
    height: 60px;
}

ul{
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding-right: 50px;
    font-family: SFPRO BOLD;
    font-size: 15pt;
}

#containerSaldo{
    background-color: #efefef;
    height: 300px;
    width: 600px;
    border-radius: 25px;
    padding: 70px 0 0 50px; /* espaço do topo e da esquerda */
    margin-left: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    position: relative;

}

#containerSaldo h4{
    margin: 0;
    font-size: 18pt;
    user-select: none;
}

#containerSaldo h1{
    margin: 5px 0 0 0; 
    font-size: 44pt;
}

#containerSaldo #saldo-escrita{
    display: flex;
    align-items: baseline;
}

.olharSaldo{
    position: absolute;
    height: 50px;
    transform: translate(450px, 15px);
    cursor: pointer;
}

#view{
    display: none;
}

#saldo-escrita h1{
    user-select: none;
}

#recarregue{
    border: none;
    background-color: #ffcf00;
    font-family: SFPRO BOLD;
    border-radius: 25px;
    font-size: 18pt;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    user-select: none;
}

#recarregue:hover{
    background-color: #e9bf07;
    cursor: pointer;
}

#recarregue:active{
    transform: scale(0.95);
    
}

hr{
    margin-top: 50px;

}

#linhasOnibus{
    display: flex;
    background-color: #efefef;
    width: 532px;
    height: 826px;
    border-radius: 25px;
    margin-right: 50px;
    justify-content: flex-end;

}

#containerSuperior{
    display: flex;
}



#containerMid{
    display: flex;
    justify-content: space-between; /* um na esquerda e outro na direita */
               /* centraliza verticalmente */
       /* ocupa a tela inteira, menos o header */
    margin: 0 50px;                 /* respiro lateral */
}

/*====linhas de trem====*/

#container-linhas{
    background-color: #efefef;
    width: 500px;
    height: 730px;
    margin: 50px 0px auto 700px;  
    border-radius: 25px;
}

#container-linhas h1{
    margin: 30px 30px;
    font-size: 18pt;
    user-select: none;
}

#linhasPreferidas{
    display: flex;
    align-items: center;
    background-color: #ffcf00;
    margin: 20px 20px;
    height: 50px;
    border-radius: 15px;
}

#linhasPreferidas:hover{
    background-color: #e9bf07;
    cursor: pointer;
}

#linhasPreferidas h1{
    margin: 0;
    padding: 10px;
    
    
}

#quebraLinha{
    background-color: #efefef;
    height: 2px;
    width: 1200px;
    margin: 0px 50px;
    position: relative;
    top: -380px; /* sobe 100px */
    border-radius: 1px;
}

.wrapper{
    cursor: grab;
    position: relative;
    top: -330px; /* sobe 100px */
    width: 1200px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.wrapper:active {
    cursor: grabbing;
  }

#cartoes{
    display: flex;
    
}


#cartao{
    background-color: #ffcf00;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    
    margin-left: 50px;
    flex-shrink: 0;
}

