@font-face {
    font-family: 'SFPRO BOLD';
    src: url("../fontes/SFPRODISPLAYBOLD.OTF") format('truetype');
  }
@font-face {
    font-family: 'SFPRO MEDIUM';
    src: url("../fontes/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: 'SFPRO REGULAR';
    src: url("../fontes/SFPRODISPLAYREGULAR.OTF");
}

body{
    margin: 0;
    height: calc(100vh - 100px);
    
    
}

header{
    background-color: #ffcf00;
    height: 100px;
    display: flex;
    justify-content: space-between; /* deixa os itens começando do canto esquerdo */
    padding: 0 20px;
    align-items: center;

 /* opcional, para não grudar no canto */
   
}

svg{
    height: 60px;
}

ul{
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding-right: 50px;
    font-family: SFPRO BOLD;
    font-size: 15pt;
}

h1{
    font-family: SFPRO BOLD;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 30pt;

}

#barraPesquisa {
    position: absolute;
    top: calc(25% + 50px); /* 50px = metade do header (100px) */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

#searchInput{
    background-color: #ffffff;
    border: none;
    width: 700px; 
    padding: 20px; 
    border-radius: 20px;
    font-size: 16px;
    outline: 1px solid black;
}






#searchResults {
    margin-top: 1px;
    font-family: SFPRO BOLD;
    display: flex;
    flex-direction: column; /* força os itens ficarem um embaixo do outro */
    align-items: stretch;   /* ocupa toda a largura */
    border: 1px solid #efefef ;
    border-top: none;            
    max-height: 220px; 
    overflow-y: auto;      /* só scroll vertical */
    overflow-x: hidden;    /* remove scroll lateral */
    position: absolute;
    background-color: white;
    width: 700px;             
    z-index: 1000;
    border-radius: 20px;
    
}
        /* Estiliza cada item individual na lista de resultados */
.search-result-item {
    padding: 10px;
    cursor: pointer;
    white-space: normal; /* quebra texto grande */
    border-bottom: none; /* remove a linha */
}

.search-result-item:last-child {
    border-bottom: none;
}      

#mapaContainer{  
    position: relative;
    z-index: 0;

    /* Seus outros estilos que já estavam aqui */
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 500px;    
}


#mapa{
    
    height: 500px;
    width: 1000px;
    
}

