@font-face {
    font-family: 'SFPRO BOLD';
    src: url("../fontes/SFPRODISPLAYBOLD.OTF") format('truetype');
  }
@font-face {
    font-family: 'SFPRO MEDIUM';
    src: url("../fontes/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: 'SFPRO REGULAR';
    src: url("../fontes/SFPRODISPLAYREGULAR.OTF");
}

body{
    margin: 0;
    height: 100vh - 100px;
    
}

header{
    background-color: #ffcf00;
    height: 100px;
    display: flex;
    justify-content: space-between; /* deixa os itens começando do canto esquerdo */
    padding: 0 20px;
    align-items: center;

 /* opcional, para não grudar no canto */
   
}

svg{
    height: 60px;
}

ul{
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding-right: 50px;
    font-family: SFPRO BOLD;
    font-size: 15pt;
}

#searchResults {
    display: flex;
    flex-direction: column; /* força os itens ficarem um embaixo do outro */
    align-items: stretch;   /* ocupa toda a largura */
    border: 1px solid #ddd;
    border-top: none;            
    max-height: 220px; 
    overflow-y: auto;      /* só scroll vertical */
    overflow-x: hidden;    /* remove scroll lateral */
    position: absolute;
    background-color: white;
    width: 250px;             
    z-index: 1000;
}


        /* Estiliza cada item individual na lista de resultados */
        .search-result-item {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #f1f1f1;
            white-space: normal; /* quebra texto grande */
        }
