<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Login - Yellow</title>
</head>

<body>
    <div class="tudao">
        <div class="coluna esquerda">
            <div class="cadastrin">
                <form action="">
                    <img src="../static/img/Yellow Letra.png" style="cursor: pointer;"
                        onclick="window.location.href='/'" alt="" class="letra">
                    <input type="text" placeholder="CPF: " class="inp">
                    <input type="password" placeholder="Senha: " class="inp">

                    <div class="senhas">
                        <label class="checkbox-container">
                            <input type="checkbox" id="checkbox">
                            <span class="checkmark"></span>
                        </label>

                        <p>Lembre de Mim</p>


                    </div>

                    <a href="#" class="esqueci">Esqueci a senha</a>

                    <input type="submit" class="butão" onclick="event.preventDefault(); window.location.href='/dashboard'">
                </form>
            </div>
        </div>

        <div class="coluna direita">
            <h1>Bom te ver de novo! Bora garantir <br> a proxima viagem? </h1>
            <img src="../static/img/cartoes.svg" alt="Cartão do busao" class="img">
        </div>
    </div>

</body>

</html>